/* .columns {
    border: 1px solid black;
}

.column {
    border: 1px solid black;
} */

.card {
    border: 1px solid black;
}

/* .card-content {
    background-color: green;
} */

.city-title {
    text-transform: capitalize
}

.icon-description {
    text-transform: capitalize
}

.search-bar {
    justify-content: start;
    margin-top: 4px;
}

/* .card-footer-item {
    background-color: green;
} */
