/* .columns {
    border: 1px solid black;
}

.column {
    border: 1px solid black;
} */

/* .card {
    border: 1px solid black;
} */

/* .card-content {
    background-color: green;
} */

.city-title {
    text-transform: capitalize;
}

.icon-description {
    text-transform: capitalize;
}

.saved-search{
    text-align: center;
    width: 100%;
}

/* .card-footer-item {
    background-color: green;
} */
